// Inter Font
@font-face {
    font-family: "Gotham-Regular";
    src: url("../../public/font/GothamOffice-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("../../public/font/Gotham-Medium.otf") format("truetype");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("../../public/font/GothamOffice-Bold.otf") format("truetype");
}