@use "./fonts";

// sections
@use '@/sections/Hero/Hero' as *;
@use '@/sections/Gallery/Gallery' as *;
@use '@/sections/GetInTouch/GetInTouch' as *;
@use '@/sections/Footer/Footer' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gotham-Regular';
    scroll-behavior: smooth !important;
}

body {
    background-color: rgba(236, 250, 229, 0.5);
    color: #231F2A;
}


*::-webkit-scrollbar {
    display: none;
    width: 0px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    display: none;
    width: 0px;
    background-color: #fff;
}

*::-webkit-scrollbar-track {
    display: none;
    width: 0;
    height: 0;
}